@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'MADE-Soulmaze';
  src: url("~assets/fonts/MADE-Soulmaze-Italic-PERSONAL-USE.otf");
}

@font-face {
  font-family: 'MADE-Soulmaze-Outline';
  src: url("~assets/fonts/MADE-Soulmaze-Outline-Italic-PERSONAL-USE.otf");
}

.text-underline::after {
  content: '';
  width: 100%;
  height: 39%;
  background: #00F3B3;
  z-index: -1;
  position: absolute;
  left: 0;
  bottom: 0;
}
.text-underline {
  position: relative;
}

.text-primary {
  color: #00F3B3;
}

.bg-discord {
  background-color: #5865F2;
  color: white;
}

.bg-patreon {
  background-color: #F96854;
  color: white;
}

.bg-github {
  background-color: #171515;
}

.home-app {
  &::before {
    content: '';
    background-image: url("~/assets/images/burshed-circle-left.svg");
    position: absolute;
    width: 614px;
    height: 956px;
    left: 0;
  }
  &::after {
    content: '';
    background-image: url("~/assets/images/burshed-circle-right.svg");
    position: absolute;
    width: 665px;
    height: 943px;
    right: 0;
    top: 40%;
    z-index: -1;
  }
}

.bg-primary {
  background-color: #00F3B3;
}

.border-secondary {
  border-color: #914FF7;
}
.text-secondary {
  color: #914FF7;
}